<div id="homework-container">
    <div id="loading-block">
        Загрузка...
    </div>
    <div id="error-block">
        <div id="error-block-text">Не удалось загрузить города</div>
        <input id="error-block-button" type="button" value="Повторить">
    </div>
    <div id="filter-block">
        <input id="filter-input" type="text">
        <ul id="filter-result"></ul>
    </div>
</div>